global_defs {
#  enable_script_security
}
# Script used to check if Proxy is running
vrrp_script check_nginx {
  script "/usr/sbin/pidof nginx"
  interval 3
#  fall 3
#  rise 3
#  weight 20
}

vrrp_instance VI_3 {
  state {{ state }}
  interface eth1
  virtual_router_id 33
  priority {{ priority }}
  nopreempt
  advert_int 1
  virtual_ipaddress {
    192.168.100.10 dev eth1
  }
  track_script {
    check_nginx
  }
}

vrrp_instance VI_4 {
  state {{ state }}
  interface eth2
  virtual_router_id 44
  priority {{ priority }}
  nopreempt
  advert_int 1
  virtual_ipaddress {
    192.168.200.10 dev eth2
  }
  track_script {
    check_nginx
  }
}
