# Volume to be used for MinIO server.
MINIO_VOLUMES="http://app{1...3}:9000/data/drive{1...4}"
# Use if you want to run MinIO on a custom port.
MINIO_OPTS="--address :9000"
# Access Key of the server.
MINIO_ACCESS_KEY={{ minio_access_key }}
# Secret key of the server.
MINIO_SECRET_KEY={{ minio_secret_key }}
