! Configuration File for keepalived

global_defs {
   vrrp_skip_check_adv_addr
   vrrp_strict
   vrrp_garp_interval 0.5
   vrrp_gna_interval 0.5
}

vrrp_instance VI_3 {
    state MASTER
    interface eth1
    virtual_router_id 33
    priority {{ priority }}
    preempt
    advert_int 1
#    authentication {
#        auth_type PASS
#        auth_pass 3333
#    }
    virtual_ipaddress {
        192.168.100.90
    }
    notify /usr/local/sbin/notify-keepalived.sh
}
